:root {
    --bgcolor:#e9e7e7;
    --footercolor:#c4c4c4;
    --black:#000000;
    --white:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

/*Start header*/
header {
    height: 820px;
    background-color: var(--bgcolor);
    background-image: url(html-template-travel/assets/img/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  

    & .container {
   
        overflow: hidden;
        
        & nav {
           
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 75px;

            & ul {
                display: flex;
               
                & li:first-child {
                    font-weight: bold;
                }

                & li {
                    list-style: none;
                    margin-right: 80px; 
                 

                    & a {
                        font-size: 20px;
                        color: var(--black);
                        text-decoration: none;
                    }

                }        
            }

            & .contact {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid var(--black);
                border-radius: 5px;
                padding: 10px 50px;
                
                & h3 {
                    font-size: 20px;
                }
            }
        }
        
    }

    & .header_info {
        position: relative;
        display: flex;
        flex-direction: column;
     
        margin-top: 110px;

        & h1 {
            font-size: 80px;
        }

        & p {
            margin-top: 30px;
            font-size: 17px;
        }

        & .header_button {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 50px;
            background-color:var(--black);
            border-radius: 5px;

            & a {
                font-size: 20px;
                text-decoration: none;
                color: var(--white);
            }
        }

        & .content_img {
            position: absolute;
            right: 0;
            height: 100%;

            & img {
                height: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    
    header {
        height: auto;
        
        & .container {
            max-width: 420px;
        & nav {
            flex-direction: column;

            & ul {
                flex-direction: column;
               
                & li {
                    margin-right: 0px !important;
                    margin: 20px 0px
                }
            }
        }

        & .header_info {

            justify-content: center;
            align-items: center;

            & p {
                font-size: 15px;
            }

            & .content_img {
                position: inherit;
                margin: 20px 0px;

                & img {
                    width: 500px;
                    height: 300px;
                }
              
            }
        }
    }
    }
}

/*End header*/


/*Start Content_more*/
.content_more {
    height: 390px;
    background-image: url(html-template-travel/assets/img/bg_section_1-2.png);
    background-repeat: no-repeat;
    background-size: cover;

    & .container {

        & .content_more_info {

            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;

            & h1{
                font-size: 55px;
                margin-top: 55px;
            }
            & p {
                font-size: 17px;
                margin-top: 32px;
            }

            & .content_more_button {

                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid var(--white);
                width: 250px;
                height: 50px;
                border-radius: 5px;
                margin-top: 35px;

                & a {
                    
                    font-size: 20px;
                    text-decoration: none;
                }
            }
           
            
            & h1, p ,a {
                color: var(--white);
            }
        
        }

    }
}

@media screen and (max-width: 480px) {
    
    .content_more {
        height: auto;
        
        & .container{
            max-width: 420px;

            & .content_more_info h1 {
                font-weight: bold; 
                text-shadow: 2px 2px 2px var(--black);
                color: var(--white);
            }

            & .content_more_info p {
               font-size: 15px;
            }

            & .content_more_info .content_more_button {
                margin-bottom: 30px;
             }
        }
    }
}

/*End Content_more*/

/*Start Content_top*/

.content_top {
    height: 800px;
    background-color: var(--bgcolor);
    background-image: url(html-template-travel/assets/img/bg_section_2.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
  
    & .container{

        & .content_top_info {

            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
            margin-top: 165px;
            place-items: center;

            & .content_top_card {
                display: flex;
                flex-direction: column;
                justify-content: center;
              

                & .line {
                    margin-top: 30px;
                    background-color: var(--black);
                    width: 50px;
                    height: 3px;
                }

                & h1 {
                    font-weight: bold;
                    font-size: 40px;
                    margin-top: 30px;
                }

                & p {
                    
                    font-weight: bold;
                    margin-top: 30px;
                }

            }
        }
    }
}

@media screen and (max-width: 480px) {
    .content_top {
        height: auto;
        background-image: url();

        & .container {
            max-width: 420px;

            & .content_top_info {

                & .content_top_card {
                    margin-bottom: 20px;
                }
            
            }
        }

    }
    
}

/*End Content_top*/


/*Start Content_more2*/

.content_more2 {
    height: 800px;
    background-color: var(--bgcolor);
    background-image: url(html-template-travel/assets/img/bg_section_3.png);
    background-repeat: no-repeat;
    background-size: cover;

    & .container {

          height: 800px;
          display: flex;
          justify-content: center;
      
        & .content_more2_info {
           
            margin-top: 200px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & h1 {

                font-size: 90px;
            
            }

            & .text_special{
               display: flex;

                & h1:nth-of-type(1) {
                    text-decoration: underline;
                    font-style: italic;
                    margin-right: 22px ;
                }
            }

            & p {
                margin-top: 40px;
                font-weight: bold;
                font-size: 21px;
            }
          
        }
    }
}

@media screen and (max-width: 480px) {

    .content_more2 {
        height: auto;

        & .container {
            height: auto;
            max-width: 420px;

            & .content_more2_info {
                margin-top: 95px;

                & h1 {

                    font-size: 40px;
                }

                & p {
                    
                    margin-top: 70px;
                    font-size: 15px;
                  
                }

            }
        }
    }
}

/*End Content_more2*/

/*Start Content_mid*/

.content_mid {
    height: 800px;
    background-color: var(--bgcolor);
    overflow: hidden;

    & .container {

        display: flex;
        justify-content: center;
        margin-top: 120px;

        & .content_mid_info {
            
            display: flex;
           
            & .img_left {
                position: relative;
                
                & img:nth-of-type(1) {
                    width: 500px;
                    height: 650px;
                }

                & img:nth-of-type(2) {
                    position: absolute;
                    left: -35px;
                    top: 34%;
                }
            }

            & .img_right {
               
                margin-left: 40px;
                
                & .content_mid_text {
                    
                    display: flex;
                    margin-top: 30px;

                    & h1:nth-of-type(1) {
                        font-size: 35px;
                        text-decoration: underline;
                    }
                    & h1:nth-of-type(2){
                        display: none;
                        text-decoration: underline;
                    }

                    & .content_mid_lorem {

                       
                        margin-left: 30px;

                        & p:nth-of-type(2) {
                         
                           
                            margin-top: 20px;
                        }
                    }
                  
                }

                & .arrow {
                    display: flex;
                    justify-content: end;
                    align-items: center;
                    width: 550px;
                    height: 95px;
                    

                    & .line {
                        margin-right: 20px;
                        position: relative;
                        width: 100px;
                        height: 3px;
                        background-color: var(--black);
                        border-top-right-radius: 5px; 
                    }

                    & .line::before{
                        content: "";
                        position: absolute;
                        top: -10.3px;
                        right: -5px;
                        width: 30px;
                        height: 3px;
                        background-color: var(--black);
                        transform: rotate(45deg);

                    }

                    & .line::after {
                        content: "";
                        position: absolute;
                        top: 8.8px;
                        right: -4.7px;
                        width: 30px;
                        height: 3px;
                        background-color: var(--black);
                        transform: rotate(139deg);
                      }
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {

    .content_mid {
        height: auto;

        & .container {
            max-width: 420px;

            & .content_mid_info {
                max-width: 420px;
                flex-direction: column;
                align-items: center;

                & .img_left {

                    & img:nth-of-type(1) {
                        width: 100%;
                    }

                    & img:nth-of-type(2) {
                        width: 50px;
                        left: -19px;
                        top: 34%;
                    }
                }

                & .img_right {
                    max-width: 420px;
                    margin-left: 0;

                    & img:first-child{
                        margin-top: 20px;
                        width: 100%;
                    }

                    & .content_mid_text {
                        flex-direction: column;
                        margin-top: 30px;
                        align-items: center;

                        & h1:nth-of-type(1) {
                            display: none;
                        }
                        & h1:nth-of-type(2){
                            display: block;
                            font-size: 24px;
                            text-align: center;
                        }
                    }


                    & .content_mid_lorem {
                        margin-top: 30px;
                        display: flex;
                        flex-direction: column;
                    }

                    & .arrow {
                        max-width: 420px;

                        & .line {
                            width: 50px
                        }

                        & .line::before {
                            top: -5.3px;
                            right: -1px;
                            width: 15px;
                        }

                        & .line::after {
                            top: 4.8px;
                            right: -1.7px;
                            width: 15px;
                        }
                    }
                }
            }
        }
    }
    
}

/*End Content_mid*/

/*Start Content_under*/

.content_under {
    height: 800px;
    background-image: url(html-template-travel/assets/img/bg_section_5.png);
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;

    .container {
        max-width: 100%;

        margin-top: 140px;

        & .content_under_info {
            
            display: flex;
            justify-content: space-between;

            & .content_under_textlorem {
                margin-left: 120px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                color: var(--white);

                & h1 {
                    font-size: 55px;
                    color: var(--white);
                }

                & h4:nth-of-type(1) {
                    margin-top: 60px;
                    font-size: 25px;
                }
                & h4:nth-of-type(2) {
                    margin-top: 20px;
                    font-size: 25px;
                }

                & p {
                    font-size: 16px;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    
    .content_under {
        height: auto;
        
        .container {
            max-width: 420px;
            
            & .content_under_info {
                flex-direction: column;

                & .content_under_textlorem{
                    margin-left: 0px;

                    & h1 {
                        font-size: 50px;
                    }

                    & h4 {
                        font-size: 20px !important;
                    }

                    & h4:nth-of-type(2){
                        margin-top: 50px;
                    }

                    & p {
                        margin-top: 10px;
                        font-size: 14px;
                    }
                }

                & .img_right {
                    margin: 50px 0px;
                    & img {
                        width: 100%;
                    }
                }
            }
        }
    }
}

/*End Content_under*/

/*Start content_last_first*/

.content_last_first {

    height: 800px;
    background-color: var(--bgcolor);
    overflow: hidden;
    .container {

        margin-top: 175px;  

        & .content_last_info {

            display: flex;
            justify-content: space-between;
           

            & .content_last_text {
                

                & h1 {
                    font-size: 81px;
                }
            }
        
        & .content_last_lorem {

                & .line {
                    width: 685px;
                    height: 3px;
                    background-color: var(--black);
                }

                & .line:nth-of-type(1) {
                    margin-top: 100px ;
                }



                & .content_plus {
                     
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    margin: 15px 0px;
                    margin-left: 30px;
            
                    & .plus {
                        position: relative;
                        margin-right: 30px;
                        width: 15px;
                        height: 2px;
                        background-color: var(--black);
                    }

                    & .plus::before {
                        position: absolute;
                        content: "";
                        width: 15px;
                        height: 2px;
                        background-color: var(--black);
                        top:0;
                        transform: rotate(90deg);

                    }
                }
            }

            & .img_right {

                & img {
                    width: 390px;
                    height: 500px;
                }
            }
        }

    }
}

@media screen and (max-width: 480px) {

    .content_last_first {
        height: auto; 

        & .container {

            margin-top: 80px;
            max-width: 420px;
            display: flex;
            flex-direction: column;

            & .content_last_info {
                flex-direction: column;

                & .content_last_text {

                    & h1 {
                        text-align: center;
                        font-size: 45px;
                    }

                    
                    & .content_last_lorem {

                        & .line {

                            width: 100%;
                        }

                        & .line:nth-of-type(1) {
                            margin-top: 60px ;
                        }

                        & .content_plus {
                            flex-direction: row;

                            & .plus {

                                width: 18px;
                            }
                            & p{

                                font-size: 15px;
                            }
                        }
                    }

                }

                & .img_right {
                    max-width: 420px;
                    margin: 20px 0px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    }
            }
        }

    }
    
}

/*End Content_last_first*/

.content_last_two {
    height: 800px;
    background-color: var(--bgcolor);
    background-image: url(html-template-travel/assets/img/bg_section_7.png);
    overflow: hidden;

    & .container {

        display: flex;
        justify-content: center;
        flex-direction: column;


        & .content_last_info {
            display: flex;
            flex-direction: column;
            

         & h1 {
            text-align: center;
            font-size: 100px;
         }

          
        }

        & .content_grid{
            display: grid;
            grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
            justify-items: center;
           
            & .item{
             
                position: relative;
                margin-top: 50px;
                display: flex;
                justify-content: center;
                flex-direction: column;
                width: 390px;
                height: 420px;
                border: 2px solid var(--black);
                border-radius: 10px;
               

                & .circle {
                  
                    position: relative;
                    width: 150px;
                    height: 150px;
                    border-radius: 50%;
                    background-color: var(--black);
                    overflow: hidden;
                    top: 20%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    
                }

                & .circle::before{
                    position:absolute;
                    content:"";
                    width: 40px;
                    height: 40px;
                    background-color: var(--white);
                    border-radius: 50%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                
                & .circle::after{
                    position:absolute;
                    content:"";
                    width: 100px; 
                    height: 50px; 
                    background-color:var(--white);
                    border-radius: 100px 100px 0 0;
                    top: 85%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }

                & .box_arrow_left {
                    background-color: var(--bgcolor);
                    position :absolute;
                    top: 45%;
                    left: -40px;
                    width: 80px;
                    height: 70px;
                    border: 2px solid var(--black);
                    border-radius: 5px; 
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & .arrow_left {
                        position: relative;
                        width: 40px;
                        height: 3px;
                        background-color: var(--black);

                    }

                    & .arrow_left::before {
                        content: "";
                        position: absolute;
                        top: -9.3px;
                        right: 18px;
                        width: 26px;
                        height: 3px;
                        background-color: var(--black);
                        transform: rotate(-45deg);
                    
                    }

                    & .arrow_left::after{
                        content: "";
                        position: absolute;
                        top: 7.7px;
                        right: 17px;
                        width: 26px;
                        height: 3px;
                        background-color: var(--black);
                        transform: rotate(-139deg);
                    }


                }

                & .text_info {
                    
                    margin-top: 45px;
                    & h1 {
                        text-align: center;
                        font-size: 28px;
                    }

                    & p {
                        margin-top: 20px;
                        text-align: center;
                    }
                }


                & .box_arrow_right {
                    background-color: var(--bgcolor);
                    position :absolute;
                    top: 45%;
                    right: -40px;
                    width: 80px;
                    height: 70px;
                    border: 2px solid var(--black);
                    border-radius: 5px; 
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    & .arrow_right {
                        position: relative;
                        width: 40px;
                        height: 3px;
                        background-color: var(--black);

                    }

                    & .arrow_right::before {
                        content: "";
                        position: absolute;
                        top: -9.3px;
                        right: -3px;
                        width: 26px;
                        height: 3px;
                        background-color: var(--black);
                        transform: rotate(45deg);
                    
                    }

                    & .arrow_right::after{
                        content: "";
                        position: absolute;
                        top: 7.7px;
                        right: -3px;
                        width: 26px;
                        height: 3px;
                        background-color: var(--black);
                        transform: rotate(139deg);
                    }
                }
                
            }
        }
    }
}