:root {
    --bgcolor:#e9e7e7;
    --footercolor:#c4c4c4;
    --black:#000000;
    --white:#fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

header {
    height: 820px;
    background-color: var(--bgcolor);
    background-image: url(html-template-travel/assets/img/bg_header.png);
    background-repeat: no-repeat;
    background-size: cover;
    
  

    & .container {
   
        overflow: hidden;
        
        & nav {
           
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 75px;

            & ul {
                display: flex;
               
                & li:first-child {
                    font-weight: bold;
                }

                & li {
                    list-style: none;
                    margin-right: 80px; 
                 

                    & a {
                        font-size: 20px;
                        color: var(--black);
                        text-decoration: none;
                    }

                }        
            }

            & .contact {
                display: flex;
                justify-content: center;
                align-items: center;
                border: 3px solid var(--black);
                border-radius: 5px;
                padding: 10px 50px;
                
                & h3 {
                    font-size: 20px;
                }
            }
        }
        
    }

    & .header_info {
        position: relative;
        display: flex;
        flex-direction: column;
     
        margin-top: 110px;

        & h1 {
            font-size: 80px;
        }

        & p {
            margin-top: 30px;
            font-size: 17px;
        }

        & .header_button {
            margin-top: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height: 50px;
            background-color:var(--black);
            border-radius: 5px;

            & a {
                font-size: 20px;
                text-decoration: none;
                color: var(--white);
            }
        }

        & .content_img {
            position: absolute;
            right: 0;
            height: 100%;

            & img {
                height: 100%;
            }
        }
    }
}